<div class="banner banner--map">
  <div class="site-header__offset"></div>

  <div class="banner__wrap">

    <div class="container container--no-padding">
      {% if page.banner.title-sup %}<h2 class="overview-sub-title">{{page.banner.title-sup}}</h2>{% endif %}
      <h1 class="overview-title">{{page.banner.title}}</h1>
      {% if page.banner.title-sub %}<h2 class="overview-sub-title">{{page.banner.title-sub}}</h2>{% endif %}
      <div class="space--sm">
        <a href="javascript:void(0);" class="btn btn--lg btn--white js-open-slideshow">Start Photo tour</a>
      </div>
    </div>

  </div>

  <div class="banner__map">
    <div class="banner__map-wrap container">
      <div class="banner__map-frame">
        {% for icon in page.map %}
        <a href="{{site.baseurl}}/{{icon.link}}" class="banner__map-icon{% if icon.lufthansa %} banner__map-icon-lufthansa{% endif %}" style="{{icon.position}}">
          <span class="banner__map-icon__icon"></span>
          <span class="banner__map-icon__label">{{icon.title}}</span>
        </a>
        {% endfor %}
        <div class="banner__map-frame__bg"></div>
      </div>
    </div>
    <div class="banner__map-overlay"></div>
  </div>

  <div class="banner__nav">
    {% include nav/site.html theme="banner" %}
  </div>
  <div class="banner__bg" style="background-image: url('{{site.img}}/content/{{page.id}}/bg.jpg')"></div>
  <div class="site-nav__offset"></div>
</div>

