
<div class="vpad--xxxxl bg--img text--white" style="background-image: url('{{site.img}}/content/promo-eurowings-bg.jpg');">
  <div class="container">
    <div class="width--lg">
      <h2 class="title title--xl text--bold">Fly to Stuttgart with Eurowings</h2>
      <p class="text--xxl text--normal vpad--xxs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="space--sm"></div>
      <a href="{{site.baseurl}}/flights" class="btn btn--lg btn--purple">See Flights</a>
    </div>
  </div>
</div>