<div class="vpad--xxxxl bg--img text--white" style="background-image: url('{{site.img}}/content/promo-comp-bg.jpg');">
  <div class="width width--xxl">
    <div class="text--center">
      <h2 class="title title--xxxl">Win a Stuttgart getaway</h2>
      <p class="text--xxl text--normal vpad--xxs">Discover vibrant Stuttgart with a prize that includes exclusive retail therapy...</p>
      <div class="space--sm"></div>
      <a id="track-btn-footer-competition" href="{{site.baseurl}}/competition" class="btn btn--lg btn--red">Enter Now</a>
    </div>
  </div>
</div>