
<div class="vpad--xxxxl bg--img text--white" style="background-image: url('{{site.img}}/content/promo-eurowings-bg.jpg');">
  <div class="container">
    <div class="width--lg">
      <h2 class="title title--xxl">Fly to Stuttgart with Eurowings</h2>
      <p class="text--xxl text--normal vpad--xxs">Choose from four UK airports and fly with the finest airline for your Germany adventures...</p>
      <div class="space--sm"></div>
      <a href="{{site.baseurl}}/flights" class="btn btn--lg btn--purple">See Flights</a>
    </div>
  </div>
</div>