<div class="vpad--xxxxl bg--img text--white" style="background-image: url('{{site.img}}/content/promo-comp-bg.jpg');">
  <div class="width width--lg">
    <div class="text--center">
      <h2 class="title title--xxxl">Win this amazing Stuttgart prize</h2>
      <div class="container container--no-padding container--lg">
        <p class="text--xxl text--normal vpad--xxs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="space--sm"></div>
        <a id="track-btn-footer-competition" href="{{site.baseurl}}/competition" class="btn btn--lg btn--red">Enter Now</a>
      </div>
    </div>
  </div>
</div>