---
layout: default
id: stuttgart
title: Stuttgart
nav: true
nav-order: 2
content-pages: true
map: true

intro: >
  <p class="text--xl">Stuttgart is our German destination in focus, presenting an opportunity to get under the skin of a city that offers a remarkable selection of diverse experiences.</p>
  <p class="text--lg">From high art to luxury cars, Stuttgart knows how to flaunt its wealth. Whether it’s exploring the postmodern Porsche museum, or exploring boutiques and galleries, Stuttgart wears luxury on its sleeve. Discover the vine-clad hills that surround the city, diving into rustic wine bars before heading to the centre for refined dining options. Hunt for treasures in the art nouveau market or head for the heavens with a visit to the Fernsehturm, where unparalleled panorama awaits. A city of palaces and renowned cultural institutions, Stuttgart offers traditional Swabian charms in bucket loads. Discover it here.</p>



topics:

  - id: city-of-the-arts
    title: City of the Arts
    description: >
      <p class="text--xl">Stuttgart is a hotbed of culture and art, with a rich heritage that embellishes the grandiose palaces and fills its many galleries with fascinating works. Yet there is also plenty of modernity, borne out of a rich industrial heritage. From renowned ballet to modernist estates, Stuttgart offers a diverse cultural map.</p>

    local:
      name: Name
      content: >
        Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper.

    pois:

      - id: palaces-of-learning
        title: Palaces of Learning
        description: Stuttgart’s remarkably numerous palaces paint a picture of old Swabian wealth. Start at the 10th century Old Palace, which now houses the Landesmuseum Württemberg – packed with local archaeological finds. Marvel at the ornate interiors of the Ludwigsburg Palace, one of Germany’s finest Baroque buildings, before discovering the New Palace’s grand square and the Rococo finesse of the Solitude Palace.

      - id: staatstheater
        title: Staatstheater
        description: Europe’s largest triple-branch theatre is a stalwart centre of the arts for the whole region. Enjoy opera, theatre and Stuttgart’s world-famous ballet – hailed as one of Europe’s best – all under one roof. It’s one of those unmissable experiences when in Stuttgart – pick out your gown or tux and prepare for an elegant night of elegant revelry.

      - id: art-trails
        title: Art Trails
        description: Stuttgart nurtures a startling array of art institutions. Explore contemporary offerings at the Kunstmuseum – the towering, ultra-modern glass brick in the centre of town – followed with the modernist curves of the renowned Staatsgalerie. There’s plenty of more intimate gallery spaces to explore too. Don’t miss the mid-century lines of the Weissenhof Estate, with museum and scenic roof terrace to boot.



  - id: motoring-heritage
    title: Motoring Heritage
    description: >
      <p class="text--xl">Stuttgart’s most famous export is the motor car. The iconic roundels of Mercedes-Benz and Porsche are recognised the world over and, quite remarkably, they both reside in Stuttgart. Discover a history of landmark design and engineering in the veritable home of the automobile – though of course, that’s not all that’s on offer! </p>

    local:
      name: Name
      content: >
        Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper.

    pois:

      - id: porsche-museum
        title: Porsche Museum
        description: Discover the world of Ferdinand Porsche, in this ultra-modern museum dedicated to his vision of the motorcar. On arrival, the seemingly-floating futurist building offers a glimpse at the design marvels that await inside. From humble beginnings to world-leading racing pedigree, unravel the history of this classic marque.

      - id: mercedes-benz-museum
        title: Mercedes-Benz Museum
        description: This futuristic museum charts the rise of the world-leading car manufacturer, Mercedes-Benz. From the very first motorised carriage – quite literally a chair sat upon a combustion engine – to the record-breaking Lightning Benz of 1909 and beyond, The Mercedes-Benz Museum is a must for all petrol heads – offering a rare glimpse at the entire history of the motorcar.

      - id: alternative-transports
        title: Alternative Transports
        description: For those who have had quite enough of cars, there’s a few alternatives for getting around the city. In Stuttgart, there’s no need to dread public transport. Head for the Zacke, a tram that rather uniquely uses a rack railway to climb to the surrounding hills of the city. Clip your bicycle to the front of the train to take advantage of the excellent cycle routes in the wooded surroundings. A vintage wooden funicular also climbs the slopes at the edge of town. Originally built to offer easy transport, rather grimly, to the city’s graveyard, now it offers a rather quirky escape from the centre of town.



  - id: unique-flavours
    title: Unique Flavours
    description: >
      <p class="text--xl">With a crisp Riesling in one hand, a pils on order and a plate of Maultaschen gracing the table, Stuttgart is a city of gastronomic indulgence. Explore traditional beer festivals, unpick the beautiful vineyards that clad the surrounding hills, and enjoy sumptuous feasts in smart restaurants and down-to-earth eateries. </p>

    local:
      name: Name
      content: >
        Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper.

    pois:

      - id: cannstatter-volksfest
        title: Cannstatter Volksfest
        description: Cannstatter beer festival is a serious rival to Munich’s Oktoberfest. For starters, it’s less touristy, with crowds of locals joining in animated revelry. This year also happens to mark the festival’s 200-year anniversary – expect vintage fairground promenades and steins galore, with heady pilsners accompanied by a feast of hearty regional treats. The festivities start in October and run for two whole weeks!

      - id: weinwanderweg
        title: Weinwanderweg
        description: It may come as a surprise to learn that Stuttgart is surrounded by vineyards. The hills that encircle the city are bursting with grapes, producing regional tipples of exquisite quality. The best way to see it is to embark on the Stuttgarter Weinwanderweg, a trail that winds through the countryside passing vintners with cellar-door tastings – enjoy crisp Rieslings and fruity Trollingers perfect for a summer’s day.

      - id: from-swabian-to-michelin
        title: From Swabian to Michelin
        description: Stuttgart is home to a fine collection of restaurants, from rustic Swabian diners to smart Michelin eateries. Try classic regional warmers like Lentils and Spätzle with Saiten and Gaisburger Marsch for a true flavour of frugal, traditional cooking. Or, if that feels too stuffy, choose from no less than eight Michelin-starred restaurants and indulge in exquisite foodie offerings from a host of renowned chefs.



  - id: a-shopping-destination
    title: A Shopping Destination
    description: >
      <p class="text--xl">Whether you’re looking for unique vintage treasures or modern, boutique designs, Stuttgart offers a playground of unmissable shopping opportunities. Catch up with local producers, designers and artisans whilst packing your case with one-of-a-kind finds. </p>

    local:
      name: Name
      content: >
        Donec sed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Vestibulum id ligula porta felis euismod semper.

    pois:

      - id: markthalle
        title: Markthalle
        description: Alight at this art nouveau market hall and fill your tote bag with an exquisite selection of local produce. Since 1927, Stuttgart Markthalle has been a centre of foodie activity, with local meats, cheeses, fruit and veg all vying for your attention. In the square outside, you’ll find a flea market every saturday, a true treasure trove for savvy vintage hunters.

      - id: outletcity-metzingen
        title: Outletcity Metzingen
        description: Just a short trip from the heart of Stuttgart lies Outletcity Metzingen. In this modern, design-forward shopping village you’ll find luxury brands like Armani, Prada, Jimmy Choo and many more, offering chic wares at unmissable prices. Find your new look here and don’t miss their unique offering in our competition...

      - id: boutiques-galore
        title: Boutiques Galore
        description: Stuttgart is home to an enticing collection of independent boutiques, serving fine sartorial attire to the fashion set of the city. Discerning visitors head for treasures like Bungalow, Best., Horst Wanschura and vintage spot Smachtfetzen, looking for unique styles to complement a smart sundown outing in the city.



---


<div class="stuttgart-intro" style="background-image: url({{site.img}}/content/{{page.id}}/bg-map.jpg);">
  <div class="container">
    <div class="row row--valign-center">
      <div class="col col--6">
        {{page.intro}}
      </div>
      <div class="col col--6">
        <a href="javascript:void(0);" class="js-open-map bg-img bg-img--4-3" style="background-image: url({{site.img}}/content/{{page.id}}/bg-map-overlay.png);">
          <div class="bg-img__content">
            <span class="btn btn--solid">Explore Stuttgart</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


{% include nav/page.html content=page.topics %}



{% for topic in page.topics %}
  <div id="{{topic.id}}" class="vpad--xxxl{% cycle '', ' bg--grey-lightest' %}">
    <div class="container">

      <h2 class="title title--xxl text--bolder">{{topic.title}}</h2>
      <div class="space--xl"></div>

      <div class="row">

        <div class="col col--6">
          {{topic.description}}
        </div>

        <div class="col col--6">

          <div class="local width width--lg {% cycle ' bg--grey-lightest', ' bg--white' %}">
            <div class="row row--no-gutters row--valign-center">

              <div class="local__image col col--4">
                <div class="bg-img bg-img--1-1" style="background-image: url({{site.img}}/img.jpg);">
                  <div class="bg-img__content">
                    <div class="local__avatar bg-img bg-img--1-1 bg-img--circle" style="background-image: url({{site.img}}/img.jpg);"></div>
                    <div class="space--md"></div>
                    <span class="title text--sm text--upper text--wide-kern text--normal">Meet the local</span>
                    <div class="space--xxs"></div>
                    <h4 class="title title--xxs text--normal">{{topic.local.name}}</h4>
                  </div>
                </div>
              </div>

              <div class="col col--8">
                <div class="local__content">
                  <p>{{topic.local.content}}</p>
                  <div class="space--sm"></div>
                  <a href="javascript:void(0);" data-modal-item="local" class="js-open-modal btn btn--sm btn--solid">Read more</a>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>


      <div class="space--xl"></div>
      <div class="row row--4-4-4 row--gutters-lg">
        {% for poi in topic.pois %}
          <div class="col">
            <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/content/{{page.id}}/poi/{{poi.id}}.jpg');"></div>
            <div class="space--md"></div>
            <h3 class="title title--sm text--bold">{{poi.title}}</h3>
            <p>{{poi.description}}</p>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
{% endfor %}



{% include page/promo-eurowings.html %}

{% include modal/map.html %}