---
layout: default
id: stuttgart
title: Stuttgart
nav: true
nav-order: 2
content-pages: true
intro: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
map: true

topics:

  - id: topic-one
    title: Topic One
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque id hic, soluta illo dolor est iste unde sunt molestiae, dolorem itaque adipisci voluptatum ullam atque recusandae eos veritatis fuga, accusamus?
    pois:

      - id: poi
        title: POI title
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed, eum non aperiam quos architecto magnam quasi a quia nemo, enim iusto. Voluptates itaque maxime et ratione a voluptatum molestiae quod rem laborum pariatur quae commodi vel, ullam ducimus esse incidunt aspernatur eveniet ipsam at ex fugit? Dicta earum ipsa atque quod vero, rerum amet doloremque ratione corrupti, inventore architecto accusantium at debitis dolore ipsum, ullam nam delectus quasi dignissimos doloribus tempore provident modi. Dolorum placeat soluta, deleniti et nam?

      - id: poi
        title: POI title
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed, eum non aperiam quos architecto magnam quasi a quia nemo, enim iusto. Voluptates itaque maxime et ratione a voluptatum molestiae quod rem laborum pariatur quae commodi vel, ullam ducimus esse incidunt aspernatur eveniet ipsam at ex fugit? Dicta earum ipsa atque quod vero, rerum amet doloremque ratione corrupti, inventore architecto accusantium at debitis dolore ipsum, ullam nam delectus quasi dignissimos doloribus tempore provident modi. Dolorum placeat soluta, deleniti et nam?

      - id: poi
        title: POI title
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed, eum non aperiam quos architecto magnam quasi a quia nemo, enim iusto. Voluptates itaque maxime et ratione a voluptatum molestiae quod rem laborum pariatur quae commodi vel, ullam ducimus esse incidunt aspernatur eveniet ipsam at ex fugit? Dicta earum ipsa atque quod vero, rerum amet doloremque ratione corrupti, inventore architecto accusantium at debitis dolore ipsum, ullam nam delectus quasi dignissimos doloribus tempore provident modi. Dolorum placeat soluta, deleniti et nam?

  - id: topic-two
    title: Topic Two
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque id hic, soluta illo dolor est iste unde sunt molestiae, dolorem itaque adipisci voluptatum ullam atque recusandae eos veritatis fuga, accusamus?
    pois:

      - id: poi
        title: POI title
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed, eum non aperiam quos architecto magnam quasi a quia nemo, enim iusto. Voluptates itaque maxime et ratione a voluptatum molestiae quod rem laborum pariatur quae commodi vel, ullam ducimus esse incidunt aspernatur eveniet ipsam at ex fugit? Dicta earum ipsa atque quod vero, rerum amet doloremque ratione corrupti, inventore architecto accusantium at debitis dolore ipsum, ullam nam delectus quasi dignissimos doloribus tempore provident modi. Dolorum placeat soluta, deleniti et nam?

      - id: poi
        title: POI title
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed, eum non aperiam quos architecto magnam quasi a quia nemo, enim iusto. Voluptates itaque maxime et ratione a voluptatum molestiae quod rem laborum pariatur quae commodi vel, ullam ducimus esse incidunt aspernatur eveniet ipsam at ex fugit? Dicta earum ipsa atque quod vero, rerum amet doloremque ratione corrupti, inventore architecto accusantium at debitis dolore ipsum, ullam nam delectus quasi dignissimos doloribus tempore provident modi. Dolorum placeat soluta, deleniti et nam?

      - id: poi
        title: POI title
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed, eum non aperiam quos architecto magnam quasi a quia nemo, enim iusto. Voluptates itaque maxime et ratione a voluptatum molestiae quod rem laborum pariatur quae commodi vel, ullam ducimus esse incidunt aspernatur eveniet ipsam at ex fugit? Dicta earum ipsa atque quod vero, rerum amet doloremque ratione corrupti, inventore architecto accusantium at debitis dolore ipsum, ullam nam delectus quasi dignissimos doloribus tempore provident modi. Dolorum placeat soluta, deleniti et nam?

  - id: topic-three
    title: Topic Three
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque id hic, soluta illo dolor est iste unde sunt molestiae, dolorem itaque adipisci voluptatum ullam atque recusandae eos veritatis fuga, accusamus?
    pois:

      - id: poi
        title: POI title
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed, eum non aperiam quos architecto magnam quasi a quia nemo, enim iusto. Voluptates itaque maxime et ratione a voluptatum molestiae quod rem laborum pariatur quae commodi vel, ullam ducimus esse incidunt aspernatur eveniet ipsam at ex fugit? Dicta earum ipsa atque quod vero, rerum amet doloremque ratione corrupti, inventore architecto accusantium at debitis dolore ipsum, ullam nam delectus quasi dignissimos doloribus tempore provident modi. Dolorum placeat soluta, deleniti et nam?

      - id: poi
        title: POI title
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed, eum non aperiam quos architecto magnam quasi a quia nemo, enim iusto. Voluptates itaque maxime et ratione a voluptatum molestiae quod rem laborum pariatur quae commodi vel, ullam ducimus esse incidunt aspernatur eveniet ipsam at ex fugit? Dicta earum ipsa atque quod vero, rerum amet doloremque ratione corrupti, inventore architecto accusantium at debitis dolore ipsum, ullam nam delectus quasi dignissimos doloribus tempore provident modi. Dolorum placeat soluta, deleniti et nam?

      - id: poi
        title: POI title
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed, eum non aperiam quos architecto magnam quasi a quia nemo, enim iusto. Voluptates itaque maxime et ratione a voluptatum molestiae quod rem laborum pariatur quae commodi vel, ullam ducimus esse incidunt aspernatur eveniet ipsam at ex fugit? Dicta earum ipsa atque quod vero, rerum amet doloremque ratione corrupti, inventore architecto accusantium at debitis dolore ipsum, ullam nam delectus quasi dignissimos doloribus tempore provident modi. Dolorum placeat soluta, deleniti et nam?

  - id: topic-four
    title: Topic Four
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque id hic, soluta illo dolor est iste unde sunt molestiae, dolorem itaque adipisci voluptatum ullam atque recusandae eos veritatis fuga, accusamus?
    pois:

      - id: poi
        title: POI title
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed, eum non aperiam quos architecto magnam quasi a quia nemo, enim iusto. Voluptates itaque maxime et ratione a voluptatum molestiae quod rem laborum pariatur quae commodi vel, ullam ducimus esse incidunt aspernatur eveniet ipsam at ex fugit? Dicta earum ipsa atque quod vero, rerum amet doloremque ratione corrupti, inventore architecto accusantium at debitis dolore ipsum, ullam nam delectus quasi dignissimos doloribus tempore provident modi. Dolorum placeat soluta, deleniti et nam?

      - id: poi
        title: POI title
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed, eum non aperiam quos architecto magnam quasi a quia nemo, enim iusto. Voluptates itaque maxime et ratione a voluptatum molestiae quod rem laborum pariatur quae commodi vel, ullam ducimus esse incidunt aspernatur eveniet ipsam at ex fugit? Dicta earum ipsa atque quod vero, rerum amet doloremque ratione corrupti, inventore architecto accusantium at debitis dolore ipsum, ullam nam delectus quasi dignissimos doloribus tempore provident modi. Dolorum placeat soluta, deleniti et nam?

      - id: poi
        title: POI title
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed, eum non aperiam quos architecto magnam quasi a quia nemo, enim iusto. Voluptates itaque maxime et ratione a voluptatum molestiae quod rem laborum pariatur quae commodi vel, ullam ducimus esse incidunt aspernatur eveniet ipsam at ex fugit? Dicta earum ipsa atque quod vero, rerum amet doloremque ratione corrupti, inventore architecto accusantium at debitis dolore ipsum, ullam nam delectus quasi dignissimos doloribus tempore provident modi. Dolorum placeat soluta, deleniti et nam?

  - id: topic-five
    title: Topic Five
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque id hic, soluta illo dolor est iste unde sunt molestiae, dolorem itaque adipisci voluptatum ullam atque recusandae eos veritatis fuga, accusamus?
    pois:

      - id: poi
        title: POI title
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed, eum non aperiam quos architecto magnam quasi a quia nemo, enim iusto. Voluptates itaque maxime et ratione a voluptatum molestiae quod rem laborum pariatur quae commodi vel, ullam ducimus esse incidunt aspernatur eveniet ipsam at ex fugit? Dicta earum ipsa atque quod vero, rerum amet doloremque ratione corrupti, inventore architecto accusantium at debitis dolore ipsum, ullam nam delectus quasi dignissimos doloribus tempore provident modi. Dolorum placeat soluta, deleniti et nam?

      - id: poi
        title: POI title
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed, eum non aperiam quos architecto magnam quasi a quia nemo, enim iusto. Voluptates itaque maxime et ratione a voluptatum molestiae quod rem laborum pariatur quae commodi vel, ullam ducimus esse incidunt aspernatur eveniet ipsam at ex fugit? Dicta earum ipsa atque quod vero, rerum amet doloremque ratione corrupti, inventore architecto accusantium at debitis dolore ipsum, ullam nam delectus quasi dignissimos doloribus tempore provident modi. Dolorum placeat soluta, deleniti et nam?

      - id: poi
        title: POI title
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed, eum non aperiam quos architecto magnam quasi a quia nemo, enim iusto. Voluptates itaque maxime et ratione a voluptatum molestiae quod rem laborum pariatur quae commodi vel, ullam ducimus esse incidunt aspernatur eveniet ipsam at ex fugit? Dicta earum ipsa atque quod vero, rerum amet doloremque ratione corrupti, inventore architecto accusantium at debitis dolore ipsum, ullam nam delectus quasi dignissimos doloribus tempore provident modi. Dolorum placeat soluta, deleniti et nam?

  - id: topic-six
    title: Topic Six
    description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque id hic, soluta illo dolor est iste unde sunt molestiae, dolorem itaque adipisci voluptatum ullam atque recusandae eos veritatis fuga, accusamus?
    pois:

      - id: poi
        title: POI title
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed, eum non aperiam quos architecto magnam quasi a quia nemo, enim iusto. Voluptates itaque maxime et ratione a voluptatum molestiae quod rem laborum pariatur quae commodi vel, ullam ducimus esse incidunt aspernatur eveniet ipsam at ex fugit? Dicta earum ipsa atque quod vero, rerum amet doloremque ratione corrupti, inventore architecto accusantium at debitis dolore ipsum, ullam nam delectus quasi dignissimos doloribus tempore provident modi. Dolorum placeat soluta, deleniti et nam?

      - id: poi
        title: POI title
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed, eum non aperiam quos architecto magnam quasi a quia nemo, enim iusto. Voluptates itaque maxime et ratione a voluptatum molestiae quod rem laborum pariatur quae commodi vel, ullam ducimus esse incidunt aspernatur eveniet ipsam at ex fugit? Dicta earum ipsa atque quod vero, rerum amet doloremque ratione corrupti, inventore architecto accusantium at debitis dolore ipsum, ullam nam delectus quasi dignissimos doloribus tempore provident modi. Dolorum placeat soluta, deleniti et nam?

      - id: poi
        title: POI title
        description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta sed, eum non aperiam quos architecto magnam quasi a quia nemo, enim iusto. Voluptates itaque maxime et ratione a voluptatum molestiae quod rem laborum pariatur quae commodi vel, ullam ducimus esse incidunt aspernatur eveniet ipsam at ex fugit? Dicta earum ipsa atque quod vero, rerum amet doloremque ratione corrupti, inventore architecto accusantium at debitis dolore ipsum, ullam nam delectus quasi dignissimos doloribus tempore provident modi. Dolorum placeat soluta, deleniti et nam?
---

<div class="vpad--xxl">
  <div class="container">
    <div class="width width--xl text--center text--xl">
      <p>{{page.intro}}</p>
      <p>promo to open the map on stuttgart</p>
    </div>
  </div>
</div>

{% include nav/page.html content=page.topics %}

{% for topic in page.topics %}
  <div id="{{topic.id}}" class="vpad--xxxl{% cycle ' bg--light', '' %}">
    <div class="container">
      <div class="width width--lg text--center">
        <h2 class="title title--xxl">{{topic.title}}</h2>
        <p>{{topic.description}}</p>
      </div>
      <div class="space--xl"></div>
      <div class="row row--4-4-4 row--gutters-lg">
        {% for poi in topic.pois %}
          <div class="col">
            <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/img.jpg');"></div>
            <div class="space--md"></div>
            <h3 class="title title--md">{{poi.title}}</h3>
            <p>{{poi.description}}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}

<div class="vpad--xxxxl bg--img text--white" style="background-image: url('{{site.img}}/content/promo-eurowings-bg.jpg');">
  <div class="container">
    <div class="width--lg">
      <h2 class="title title--xxl">Fly to Suttgart with Eurowings</h2>
      <p class="text--xxl text--normal vpad--xxs">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="space--sm"></div>
      <a id="track-eurowings-banner-btn" href="https://www.eurowings.com/en/booking/offers/flights-to/-DE/STR.html" class="btn btn--lg btn--purple">See Flights</a>
    </div>
  </div>
</div>