---
layout: default
id: explore
title: Explore
nav: true
nav-order: 3
content-pages: true
intro: Explore Germany with Eurowings. Flying to all the below destinations from the UK, explore a land of glistening modernity and centuries-old traditions. Whether you’re looking for the harbour-cool of Hamburg or the Bavarian charms of Munich, explore Germany here.
map: true
---

<div class="stuttgart-intro" style="background-image: url('{{site.img}}/map/bg-map.jpg');">
  <div class="container">
    <div class="row row--xl-6-6 row--valign-center row--no-gutters">
      <div class="col">
        <div class="vpad--desktop-xl">
          <p class="text--xxl">{{page.intro}}</p>
        </div>
      </div>
      <div class="col">
        <div class="width width--lg">
          <div class="bg-img bg-img--3-2" style="background-image: url('{{site.img}}/map/bg-map-overlay.png');">
            <div class="bg-img__content">
              <a id="track-btn-map-{{page.id}}" class="js-open-map btn btn--solid" data-map-focus="germany">Explore the map</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include nav/page.html content=site.data.cities %}

<div class="bg--light">
  <div class="container">
    {% for city in site.data.cities %}
      <div id="{{city.id}}" class="bob {% cycle '', ' bob--swap' %} {% if forloop.index == 1 %}space--xxxxl{% endif %}">
        <div class="bob__img">
          <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/explore/{{city.id}}/01.jpg');"></div>
          <div class="row row--no-gutters row--constant-6-6">
            <div class="col">
              <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/explore/{{city.id}}/02.jpg');"></div>
            </div>
            <div class="col">
              <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/explore/{{city.id}}/03.jpg');"></div>
            </div>
          </div>
        </div>
        <div class="bob__text">
          <h2 class="bold-title bold-title--sm">{{city.title}}</h2>
          <p>{{city.description}}</p>
          <div class="btn__padding">
            <a id="track-btn-{{page.id}}-info-{{city.id}}" href="{{city.link}}" class="btn btn--sm btn--red">Find Out More</a> <span>&nbsp;</span>
            {% assign airport = site.data.airports | where: 'id', city.id | first %}
            <a id="track-btn-{{page.id}}-flights-{{city.id}}" href="{{airport.link}}" class="btn btn--sm btn--outline btn--outline-red">See Flights</a>
          </div>
        </div>
      </div>
      {% if forloop.last %} <div class="space--xxxxl"></div> {% endif %}
    {% endfor %}
  </div>
</div>