---
layout: default
id: explore
title: Explore
nav: true
nav-order: 3
content-pages: true
intro: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
map: true
---

<div class="stuttgart-intro" style="background-image: url('{{site.img}}/map/bg-map.jpg');">
  <div class="container">
    <div class="row row--valign-center">
      <div class="col col--6">
        <p class="text--xl">{{page.intro}}</p>
      </div>
      <div class="col col--6">
        <a class="js-open-map bg-img bg-img--4-3" data-map-focus="germany" style="background-image: url('{{site.img}}/map/bg-map-overlay.png');">
          <div class="bg-img__content">
            <span class="btn btn--solid">Explore the map</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

{% include nav/page.html content=site.data.cities %}

<div class="vpad--xxxl bg--light">
  <div class="container">
    {% for city in site.data.cities %}
      <div id="{{city.id}}" class="bob {% cycle '', ' bob--swap' %}">
        <div class="bob__img">
          <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/explore/{{city.id}}/01.jpg');"></div>
          <div class="row row--no-gutters row--constant-6-6">
            <div class="col">
              <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/explore/{{city.id}}/02.jpg');"></div>
            </div>
            <div class="col">
              <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/explore/{{city.id}}/03.jpg');"></div>
            </div>
          </div>
        </div>
        <div class="bob__text">
          <h2 class="bold-title bold-title--sm">{{city.title}}</h2>
          <p>{{city.description}}</p>
          <div class="btn__padding">
            <a href="{{city.link}}" class="btn btn--sm btn--red">Find Out More</a> <span>&nbsp;</span>
            {% assign airport = site.data.airports | where: 'id', city.id | first %}
            <a href="{{airport.link}}" class="btn btn--sm btn--outline btn--outline-red">See Flights</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>