<a id="track-eurowings-logo{{include.placement | prepend: '-'}}" class="logo logo--eurowings{% if include.small %} logo--eurowings-sm{% endif %}" href="https://www.eurowings.com/en.html">
  <img src="{{site.img}}/logo/eurowings.svg" alt="Eurowings Logo">
</a>
<a id="track-germany-logo{{include.placement | prepend: '-'}}" class="logo logo--germany{% if include.small %} logo--germany-sm{% endif %}" href="{{site.client.link}}">
  <img src="{{site.img}}/logo/germany.png" alt="{{site.client.name}} Logo">
</a>