<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body class="{{page.id}}">

    {% include components/tracking.html %}

    {% include page/header.html %}

    <div class="bg--fade" style="background-image: url('{{site.img}}/content/competition/bg.jpg'); background-color: #1d2013;">
      <div class="site-header__offset"></div>
      {% include nav/site.html theme="banner" %}
      <div class="content-spacing">



        <div class="container">
          <div class="width width--xl text--center">
            <div class="space--xxxxl"></div>
            <div class="space--lg"></div>
            <h1 class="title title--xxxl text--white">{{page.title}}</h1>
            <div class="space--lg"></div>
            <a href="#entry-form" class="btn btn--lg btn--red">Enter Now</a>
            <div class="space--xxxxl"></div>
            <div class="width width--xxl bg--white boxpad--xl text--lg">
              {{page.intro}}
            </div>
            <div class="space--xxxl"></div>
          </div>
        </div>



        <div class="container container--xxxl">
          {% for feature in page.features %}
          <div class="bob {% cycle '', 'bob--swap' %}">

            <div class="bob__img bg-img bg-img--16-9" style="background-image: url('{{site.img}}/img.jpg');"></div>

            <div class="bob__text text--white">
              <h2 class="title title--xl">{{feature.title}}</h2>
              <p class="text--normal">{{feature.description}}</p>
            </div>

          </div>
          <div class="space--xl"></div>
          {% endfor %}
          <div class="space--xxxl"></div>
        </div>



        <div id="entry-form" class="bg--white vpad--xxxl text--center">
          <div class="container">
            <h3 class="title title--md">Enter below for your chance to win</h3>
            <div class="space--lg"></div>
            <div class="width width--lg">
              <iframe src="{{page.entry-form.url}}" width="100%" height="{{page.entry-form.height}}"></iframe>
            </div>
          </div>
        </div>



      </div>
    </div>

    {% include page/footer.html %}

  </body>

</html>