
{% assign modal-items = site.data.modal.text | concat: site.data.modal.video %}

<div class="js-modal modal is-closed">
  <div class="js-close-modal modal__close"></div>

  <div class="js-modal-nav modal__nav modal__nav--next" data-nav-direction="next"></div>
  <div class="js-modal-nav modal__nav modal__nav--previous" data-nav-direction="prev"></div>

  <div class="modal__container">

    <!-- creates sandard text and video modals -->
    {% for item in modal-items %}
      {% if item.pages %}
        {% for item-page in item.pages %}
          {% if item-page.id == page.id or item-page.id == 'all' %}
            <div
              class="modal__item modal__item--{{item.id}} is-closed"
              id="modal-{{item.id}}"
              {% if item.youtube-id %}data-video-id="{{item.youtube-id}}"{% endif %}
              {% if item.page %}data-group-page="{{item.page}}"{% endif %}
              {% if item.section %}data-group-section="{{item.section}}"{% endif %}>
              <div class="modal__content">
                {% if item.type == 'highlight' %}
                  {% include modal/content/highlight.html %}
                {% elsif item.type == 'video' %}
                  {% include modal/content/video.html %}
                {% else %}
                  {% include modal/content/text.html %}
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}

    <!-- creates modals specifically for the map -->
    {% if page.map %}

      <!-- airport modals -->
      {% for airport in site.data.airports %}
        <div id="modal--airport-{{airport.id}}" class="modal__item is-closed">
          <div class="container container--xl container--no-padding modal__content">
            <div class="modal--aiport boxpad--xl text--center">
              <div class="vpad--lg width width--lg">
                {% assign this-city = site.data.cities | where: 'id', airport.id | first %}
                <div class="sub-title">Fly to</div>
                <div class="bold-title bold-title--sm">{{airport.title}}</div>
                <div class="sub-title">with Eurowings</div>
                <div class="space--xs"></div>
                <p class="text--normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia saepe, et unde, incidunt id odio corporis illo dolorum facere voluptates, esse consequuntur autem natus sint dolor consectetur earum fugit blanditiis!</p>
                <div class="space--md"></div>
                <a href="{{airport.link}}" class="btn btn--purple">See Flights</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      <!-- city modals -->
      {% assign city-data = site.data.cities %}
      {% for city in city-data %}
        <div id="modal--{{city.id}}" class="modal__item is-closed">
          <div class="container container--xl container--no-padding modal__content">
            <div class="row row--no-gutters">
              <div class="col col--constant-8">
                <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/explore/{{city.id}}/01.jpg');"></div>
              </div>
              <div class="col col--constant-4">
                <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/explore/{{city.id}}/02.jpg');"></div>
                <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/explore/{{city.id}}/03.jpg');"></div>
              </div>
            </div>
            <div class="boxpad--xl bg--white">
              <span class="bold-title bold-title--sm">{{city.title}}</span>
              <div class="space--xs"></div>
              <p>{{city.description}}</p>
              <div class="btn__padding">
                <a href="{{city.link}}" class="btn btn--sm btn--red">Find Out More</a> <span>&nbsp;</span>
                <a href="{{city.airport.link}}" class="btn btn--sm btn--outline btn--outline-red">See Flights</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      <!-- poi modals -->
      {% for poi in site.data.pois %}
        <div id="modal--{{poi.id}}" class="modal__item is-closed">
          <div class="container container--xl container--no-padding modal__content">
            <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/map/pois/{{poi.id}}.jpg');"></div>
            <div class="boxpad--xl bg--white">
              <div class="title title--lg">{{poi.title}}</div>
              <div class="space--sm"></div>
              <p>{{poi.description}}</p>
              <div class="space--sm"></div>
              <a href="{{site.baseurl}}/stuttgart#{{poi.section}}" class="btn btn--outline btn--outline-red btn--sm">Read More</a>
            </div>
          </div>
        </div>
      {% endfor %}

    {% endif %}

  </div>
</div>