<div class="slideshow__wrap is-closed">
  <div class="modal__close js-close-slideshow"></div>
  <div class="slideshow__info container">
    <div class="conga border-top">
      <div class="conga__left"><div class="slideshow__location js-slideshow-location"></div></div>
      <div class="conga__center text--center dots-container"></div>
      <div class="conga__right text--right"><a class="btn btn--sm btn--white js-slideshow-link">See More</a></div>
    </div>
  </div>
  <div id="slideshow" class="owl-carousel slideshow">
    <div class="slideshow__item" style="background-image: url('{{site.img}}/content/overview/slideshow/01.jpg');" data-link="stuttgart" data-location="Stuttgart"></div>
    <div class="slideshow__item" style="background-image: url('{{site.img}}/content/overview/slideshow/02.jpg');" data-link="stuttgart" data-location="Stuttgart"></div>
    <div class="slideshow__item" style="background-image: url('{{site.img}}/content/overview/slideshow/03.jpg');" data-link="explore/#berlin" data-location="Berlin"></div>
    <div class="slideshow__item" style="background-image: url('{{site.img}}/content/overview/slideshow/04.jpg');" data-link="explore/#hamburg" data-location="Hamburg"></div>
  </div>
</div>