<div class="slideshow__wrap is-closed">
  <div class="modal__close js-close-slideshow"></div>
  <div class="slideshow__info container">
    <div class="conga border-top">
      <div class="conga__left"><div class="slideshow__location"><span class="js-slideshow-location"></span></div></div>
      <div class="conga__center text--center dots-container"></div>
      <div class="conga__right text--right"><a class="btn btn--sm btn--white js-slideshow-link">See More</a></div>
    </div>
  </div>
  <div class="slideshow__bg-gradient"></div>
  <div id="slideshow" class="owl-carousel slideshow">
    <div class="slideshow__item" style="background-image: url('{{site.img}}/content/overview/slideshow/stuttgart-wine.jpg');" data-link="stuttgart" data-location="Württemberg, Stuttgart"></div>
    <div class="slideshow__item" style="background-image: url('{{site.img}}/content/overview/slideshow/berlin.jpg');" data-link="explore/#berlin" data-location="Gendarmenmarkt, Berlin"></div>
    <div class="slideshow__item" style="background-image: url('{{site.img}}/content/overview/slideshow/stuttgart-town.jpg');" data-link="stuttgart" data-location="Esslingen am Neckar, Stuttgart"></div>
    <div class="slideshow__item" style="background-image: url('{{site.img}}/content/overview/slideshow/hamburg.jpg');" data-link="explore/#hamburg" data-location="Speicherstadt, Hamburg"></div>
    <div class="slideshow__item" style="background-image: url('{{site.img}}/content/overview/slideshow/stuttgart-church.jpg');" data-link="stuttgart" data-location="St John's Church, Stuttgart"></div>
    <div class="slideshow__item" style="background-image: url('{{site.img}}/content/overview/slideshow/munich.jpg');" data-link="explore/#munich" data-location="Marienplatz, Munich"></div>
    <div class="slideshow__item" style="background-image: url('{{site.img}}/content/overview/slideshow/outletcity-metzingen.jpg');" data-link="stuttgart/#a-shopping-destination" data-location="Outletcity Metzingen, Metzingen"></div>
  </div>
</div>